<a href="https://colab.research.google.com/github/keerthikapopuri/computational-statistics-lab/blob/main/multi_variate_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd 

import numpy as np

import statistics

import math as m

In [23]:
import numpy as np
def cofactor(a,i,j):
  temp=np.concatenate((a[:i,:j],a[:i,j+1:]),axis=1)
  new=np.concatenate((a[i+1:,:j],a[i+1:,j+1:]),axis=1)
  return np.concatenate((temp,new))
def det_of(a):
  if(len(a)==2):
    val=(a[0][0]*a[1][1])-(a[0][1]*a[1][0])
  elif(len(a)==1):
    val=a
  else:
    val=0
    for col in range(len(a)):
      sign=(-1)**col
      sub_det=det_of(cofactor(a,0,col))
      val+=(sign*a[0][col]*sub_det)
  return val

import numpy as np
def transpose(a):
  rows,cols=a.shape
  new=np.zeros((cols,rows),dtype=float)
  for i in range(rows):
    for j in range(cols):
      new[j][i]=a[i][j]
  return new
import numpy as np
def multiply(a,b):
  row1,col1=a.shape
  row2,col2=b.shape
  new=np.zeros((row1,col2),dtype=float)
  for i in range(row1):
    for j in range(col2):
      for k in range(col1):
        new[i][j]=new[i][j]+(a[i][k]*b[k][j])
  return new
import numpy as np
def adjoint(a):
  rows,cols=a.shape
  sign=[+1.0,-1.0]
  temp=0
  adj=np.empty([rows,cols],dtype=float)
  for i in range(rows):
    if(i%2==0):
        temp=0
    else:
      temp=1
    for j in range(cols):
      if(temp==0):
        mul=sign[0]
        temp=1
      else:
        mul=sign[1]
        temp=0
      co=cofactor(a,i,j)
      val=det_of(co)
      #print(val)
      val=val*mul
      #print(mul)
      adj[i][j]=val
    
  return adj
def inverse(a):
  adj=adjoint(a)
  tran=transpose(adj)
  det=det_of(a)
  inv=tran/det
  return inv

In [24]:
df=pd.read_csv("data.csv");
df

    y1   y2  x1  x2   x3
0   10  100   9  62  1.0
1   12  110   8  58  1.3
2   11  105   7  64  1.4
3    9   94  14  60  0.8
4    9   95  12  63  0.8
5   10   99  10  57  0.9
6   11  104   7  55  1.0
7   12  108   4  56  1.2
8   11  105   6  59  1.1
9   10   98   5  61  1.0
10  11  103   7  57  1.2
11  12  110   6  60  1.2

In [43]:
y=np.transpose(np.array([df["y1"],df["y2"]]))
df["c1"]=1
x=np.transpose(np.array([df["c1"],df["x1"],df["x2"],df["x3"]]))
first=np.linalg.inv(np.dot(np.transpose(x),x))
second=np.dot(np.transpose(x),y)
beta=np.dot(first,second)
y1=beta[0][0]+beta[1][0]*df["x1"]+beta[2][0]*df["x2"]+beta[3][0]*df["x3"]
y2=beta[0][1]+beta[1][1]*df["x1"]+beta[2][1]*df["x2"]+beta[3][1]*df["x3"]
#goodness of fit
df["yo1"]=y1
df["yo2"]=y2
df["e1"]=df["y1"]-df["yo1"]
df["e2"]=df["y2"]-df["yo2"]
y1bar=statistics.mean(df["y1"])
y2bar=statistics.mean(df["y2"])
#calculations for y1
e1=transpose(np.array([df["e1"]]))
sse_1=np.dot(np.transpose(e1),e1)
sst_1=sum((df["y1"]-y1bar)**2)
ssr_1=sst_1-sse_1
r1=ssr_1/sst_1
#calculations for y2
e2=np.transpose(np.array(df["e2"]))
sse_2=np.dot(np.transpose(e2),e2)
sst_2=sum((df["y2"]-y2bar)**2)
ssr_2=sst_2-sse_2
r2=ssr_2/sse_2

#inference
if(r1>0.90):
  print("r1 is good fit")
if(r2>0.90):
  print("r2 is good fit")
else:
  print("its not a good fit")

r2 is good fit