In [50]:
import pandas as pd

In [51]:
pr=pd.read_csv('C:\\Users\\y20cs142\\Desktop\\student.csv')

In [52]:
df=pd.DataFrame(pr)

In [53]:
df.loc[0]

name    keerthi
m1           89
m2           71
m3           90
Name: 0, dtype: object

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   m1      4 non-null      int64
 2   m2      4 non-null      int64
 3   m3      4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes

In [55]:
df['total']=df['m1']+df['m2']+df['m3']

In [56]:
df['percentage']=(df['total']/300)*100

In [57]:
df['grade']='null'
print(df)

      name  m1  m2  m3  total  percentage grade
0  keerthi  89  71  90    250   83.333333  null
1    sravs  87  91  94    272   90.666667  null
2    divya  94  95  86    275   91.666667  null
3    alifa  62  92  89    243   81.000000  null

In [60]:
def grade_cal(var):
    if var>=90:
        return'a'
    elif var>=80:
        return'b'
    else:
        return'c'
for i in range(4):
    var=df.iat[i,5]
    grade=grade_cal(var)
    df.iat[i,6]=grade

In [61]:
print(df)

      name  m1  m2  m3  total  percentage grade
0  keerthi  89  71  90    250   83.333333     b
1    sravs  87  91  94    272   90.666667     a
2    divya  94  95  86    275   91.666667     a
3    alifa  62  92  89    243   81.000000     b

In [64]:
df.to_csv(r'C:\\Users\\y20cs142\\Desktop\\student.csv')